@charset "utf-8";

/* 공통 */
.inner{
    max-width: 1199px;
    width: 90%;
    margin: auto;
}
/* .top:not(.com_top){
    margin-left: 5%;
}
 */
/* 메뉴 버튼 생성, 로고 속성 변경 */
.btn_menu{
    display: block;
    position: fixed;
    right: 5%;
}
header{
    justify-content: space-between;
    padding: 0 30px;
    width: 100vw;
}
header .logo{
    width: 140px;
}


/* nav, util 위치 조정 */
.top_cont{
    position: fixed;
    left: 0; top: 100%;
    max-width: 100%;
    height: calc(100dvh - 80px);
    background: #aa2d29;
    padding: 50px 30px 125px;
    overflow-y: auto;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.3s ease;
}
.top_cont .nav{
    margin: 0;
    display: inline;
}
.top_cont .nav > li{
    font-size: 24px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 58px;
}
.top_cont .util{
    width: 100%;
    height: 84px;
    bottom: 0; right: 0; left: 0;
/*     z-index: 1001; */
    background: #8E2A27;
    padding: 30px;
    color: #fff;
    transition: 0.2s ease;
}
.top_cont .util .lang{
    position: absolute;
    right: 30px;
}
.top_cont .util .search{
    position: absolute;
    left: 30px;
    background-image: url(../img/ico/ico_search_white.png);
}

/* 토글용 */
.top_cont.on{
    top: 80px;
}
.top_cont.on .util{
    position: fixed;
}

/* gnb_area 설정 */
.gnbArea .gnb > :not(ul){
    display: none;
}

/* 모바일용 nav 설정 */
.nav > li:hover::after{
    display: none;
}
.nav li ul{
    display: none;
    max-width: 650px;
    margin: 14px 0 2px;
    flex-wrap: wrap;
    gap: 20px 30px;
    font-size: 15px;
    line-height: 150%;
    opacity: 0.8;
    color: #fff;
}
.nav li ul li{
    min-width: 150px;
}
.nav li ul.on{
    display: flex;
}


/* company section */
.company .topText{
    margin-left: 5%;
}
.company .inner .cont_company ul{
    width: 100%;
    margin: auto;
}
.company .inner .cont_company ul li a img{
    width: 100%;
}


/* Glass section */
.glass .inner .top h2 {
    margin-bottom: 72px;
}

.glass .inner .cont_glass {
    height: 468px
}

.glass .inner .cont_glass li {
    width: 25%;
    height: 100%;
}
.glass .inner .cont_glass li a {
    padding: 25px 22px;
}

.glass .inner .cont_glass li a strong {
    font-size: 18px;
}

.glass .inner .cont_glass li a img {
    width: 24px;
    height: 24px;
    top: 25.2px;
    right: 10px;
}

.glass .inner .cont_glass li a span {
    bottom: -100%;
    padding: 0 10px;
    display: none;
}

.glass .inner .cont_glass li:hover a span {
    bottom: 10px;
    display: block;
}


/* media area */
.media .cont_media li {
    padding: 23px 0;
}
.media .cont_media > li > .inner{
    display: flex;
    justify-content: space-between;
}

.media .cont_media li a {
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.media .cont_media li .inner span {
    font-size: 20px;
    line-height: 140%;
    color: #999;
}


/* support area */
.support .top {
margin-left: 5%;
}
.support .recruit .recruit_txt {
    position: absolute;
    top: 84px;
    left: 160px;
}
.support .recruit .recruit_txt p {
    right: -35%;
}


/* footer */
footer {
    scroll-snap-align: start;
    height: 50vh;
}
footer .container .info .family {
    top: 170%;
    left: 0;
    margin-bottom: 50px;
}