@charset "utf-8";

/* main bg area */
.mainText {
    position: absolute;
    left: 8%;
    top: 75%;
}

.main_bg .swiper-wrapper .swiper-slide:last-child>.mainText {
    top: 65%;
}

.mainText h1 {
    font-size: 32px;
}

.mainText h2 {
    font-size: 28px;
}


/* company section */

.company .top p {
    margin-top: 0px;
    font-size: 18px;
}

.company .top h2 {
    font-size: 28px;
    margin-bottom: 24px;
}

.company .inner .cont_company ul {
    width: 1770px;
    height: 659px;
}

.company .inner .cont_company ul li {
    width: 590px;
    padding: 20px;
}
.company .inner .cont_company ul li a{
    display: block;
    height: 100%;
}
.company .inner .cont_company ul li a > img{
    height: 80%;
}
.company .inner {
    max-width: none;
    width: initial;
    padding: 0 30px;
}

.company .inner .cont_company ul li h3 {
    font-size: 26px;
}

.company .inner .cont_company ul li span {
    font-size: 15px;
}

.company .inner .cont_company ul li img:last-child {
    width: 24px;
    height: 24px;
    right: 40px;
    bottom: 5px;
}

/* Glass section */
.glass .inner .top p{
    margin-top: 20px;
    font-size: 18px;
}
.glass .inner .top h2 {
    font-size: 28px;
    margin-bottom: 24px;
}
.glass .inner .cont_glass{
    display: block;
    width: 100%;
}
.glass .inner .cont_glass li{
    width: 100%;
    height: 125px;
}
.glass .inner .cont_glass li:first-child {
    background-image: url(../img/sec02_코팅_m.png);
}

.glass .inner .cont_glass li:nth-child(2) {
    background-image: url(../img/sec02_원판_m.png);
}

.glass .inner .cont_glass li:nth-child(3) {
    background-image: url(../img/sec02_복층_m.png);
}

.glass .inner .cont_glass li:last-child {
    background-image: url(../img/sec02_특수_m.png);
}
.glass .inner .cont_glass li a img {
    width: 24px;
    height: 24px;
    top: 75px;
    right: 30px;
}

/* media area */
.media .inner .top p {
    margin-top: 0px;
    font-size: 18px;
}

.media .inner .top h2 {
    font-size: 28px;
    margin: 8px 0 24px 0;
}

.media .cont_media > li > .inner {
    display: block;
    position: relative;
}
.media .cont_media li strong {
    font-size: 16px;
    line-height: 140%;
    color: #aa2d29;
    font-weight: 500;
    margin-right: 100px;
}

.media .cont_media li a {
font-size: 16px;
display: block;
margin-top: 5px;
}

.media .cont_media li .inner span {
font-size: 16px;
position: absolute;
top: 0;
right: 0;
}

/* support area */
.support .sup_border > .inner{
    width: 100%;
}
.support .top p {
    margin-top: 0px;
    font-size: 18px;
}

.support .top h2 {
    font-size: 28px;
    margin: 8px 0 24px 0;
}
.support .recruit .recruit_txt {
    position: absolute;
    top: 20%;
    left: 5%;
}

.support .recruit .recruit_txt span {
    font-size: 18px;
    margin-bottom: 5px;
}

.support .recruit .recruit_txt h3 {
    font-size: 22px;
}

.support .recruit .recruit_txt p {
    left: 0;
    bottom: -100px;
    font-size: 16px;
}

.support .contact {
    display: block;
}

.support .contact li {
    flex: 1;
    height: 70px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.3);
    border-left: none;
}
.support .contact li:last-child {
    border-right: none;
}

/* footer */
footer .container {
    width: calc(100% - 10%);
    margin: 0 auto;
    position: relative;
}
footer .container .help{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 13px;
    padding-bottom: 30px;
    width: 100%;
    border-bottom: 1px solid rgba(102, 102, 102, 0.3);
    margin: 24px 0;
}
footer .logo{
    margin-top: 30px;
}

footer .container .info .location {
    display: block;
}
footer .container .info .location li{
    font-size: 13px;
    margin-bottom: 10px;
}

footer .container .info .family{
    top: 130%;
    width: 100%;
}
